body {
  background: #efeff2;
  color: #343d46;
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 12pt;
}

.main {
  position: absolute;
  top: 40%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-40%);
  -webkit-transform: translateX(-50%) translateY(-40%);
  transform: translateX(-50%) translateY(-40%);
}

h1 {
  font-size: 24pt;
  letter-spacing: 2pt;
  font-style: italic;
  font-weight: bold;
}

.content {
    text-align: center;
    letter-spacing: 1.25pt;
    font-size: 14pt;
    @include vertical-align();
}

a {
    color: #343d46;
    text-decoration: none;
}