---
---
@import "{{ site.theme }}";

body {
  background: #efeff2;
  color: #343d46;
  padding: 0;
  margin: 0;
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

a {
    color: #2B65EC;
    text-decoration: none;
}
a:hover {
    color: #343d46;
    text-weight: normal;
}

.nav-header {
    background: #ebebef;
    position: fixed;
    top: 0;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    width: 100%;
    z-index: 100;
}

.nav-home {
  font-size: 150%;
  letter-spacing: 4px;
  font-style: italic;
  font-weight: bold;
  padding-left: 0.1in;
  float: left;
}

.nav-wrap {
    max-width: 960px;
    margin-left: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-header ul {
    font-size: 130%;
    list-style: none;
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-padding-start: 0px;
    height: 50px;
    display: inline-block;
}

.nav-header li {
    margin-top: 14px;
    padding-left: 20px;
    float: left;
    border-right: 0;
    height: 50px;
}

.nav-header li:first-child {
    padding-left: 0px;
}

.nav-right li:last-child {
    margin-right: 0px;
}

.nav-right {
    padding-right: 15px;
    float: right;
}

.content-wrap {
    padding-top: 60px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.wrapper {
    width: 100%;
}

h1 {
  margin-bottom: 0px;
}

h1, h1, h3, h4, h5, h6 {
      text-align: left;
}