---
---
@import "{{ site.theme }}";

body {
  background: #efeff2;
  color: #343d46;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.main {
  position: absolute;
  top: 40%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-40%);
  -webkit-transform: translateX(-50%) translateY(-40%);
  transform: translateX(-50%) translateY(-40%);
}


.content {
    text-align: center;
    letter-spacing: 2px;
    font-size: 117%;
}

a {
    color: #343d46;
    text-decoration: none;
}


.nav-header {
    background: #ebebef;
    position: fixed;
    top: 0;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    width: 100%;
    z-index: 100;
}

.nav-home {
  font-size: 245%;
  letter-spacing: 4px;
  font-style: italic;
  font-weight: bold;
  padding-left: 0.5in;
  float: left;
}

.nav-home a:hover {
    color: #343d46;
}

.nav-wrap {
    max-width: 960px;
    margin-left: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-header ul {
    font-size: 130%;
    list-style: none;
    background: #eaeaf7;
    border: 0;
    margin: 0;
    -webkit-padding-start: 0px;
    height: 50px;
    display: inline-block;
}

.nav-header li {
    margin-top: 24px;
    padding-left: 30px;
    float: left;
    border-right: 0;
    height: 50px;
}

.nav-header li:first-child {
    padding-left: 0px;
}

.nav-right {
    float: right;
}

section {
    padding-top: 60px;
    width: 100%;
}

.content-wrap {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.wrapper {
width: 100%;
}