<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }}</title>

    <meta name="keywords" content="vercy,megavercy,veres,umlaut,ümlaut,ümlaüt,umlaut design,ümlaüt design" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#343d46">
    <meta name="theme-color" content="#343d46">
    <meta name="msapplication-config" content="browserconfig.xml" />
</head>
<body>
<div class="wrapper">
    <div class="nav-header">
        <div class="nav-wrap">
            <ul>
                <li><a href="/">main</a></li>
                <li><a href="/about.html">about</a></li>

            </ul>
            <ul class="nav-right">
                <li><a href="http://umlaut.hu/">***Ü</a></li>
                <li><a href="{{ site.github.repository_url }}">Git</a></li>
            </ul>
        </div>
    </div>

    <div class="content-wrap">
            {{ content }}
    </div>
    <footer>
        <!-- no footer for now -->
    </footer>
</div>
<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


{% if site.google_analytics %}
<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
{% endif %}
</body>
</html>