.App {
  text-align: center;
}

a,
a:link,
a:visited {
  color: darkgray;
  text-decoration: none;
}
a:hover {
  color: black;
}
.tile {
  display:block;
  position:absolute;
  top:35vh;
  left:50vw;
  margin-left:-2.5rem;
  text-align:center;
  font-size: 8vh;
}
.deg-0 {
  transform:rotate(-90deg) translate(18vh) rotate(90deg)
}
.deg-72 {
  transform:rotate(-18deg) translate(16vh) rotate(18deg);
}
.deg-144 {
  transform:rotate(54deg) translate(17vh) rotate(-54deg);
}
.deg-216 {
  transform:rotate(126deg) translate(17vh) rotate(-126deg);
}
.deg-288 {
  transform:rotate(198deg) translate(16vh) rotate(-198deg);
}

.umlaut {
  font-family: "Saira";
  font-weight: 900;
  background: linear-gradient(rgb(105, 224, 235), rgb(186, 235, 239));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 2px rgb(105, 224, 235));
  &:hover {
    filter: drop-shadow(0 0 3px rgb(105, 224, 235));
  }
}
.facebook, .youtube, .github {
  &:hover {
    filter: drop-shadow(0 0 3px black);
  }
}
.youtube {
  padding-top: 18px;
}

.github a {
  display: flex;
  height: 8vh;
  align-items: center;
}
.linkedin:hover {
  filter: drop-shadow(0 0 2px rgb(15, 28, 47));
}

.vercy {
  font-family: 'Courier New', Courier, monospace;
  font-size: 4rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  font-weight: 900;
  background: linear-gradient(#222a31, #191e4b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 3px #42556b);
}